<section class="boxesapp">
  <header class="header">
    <h1>Boxes</h1>
    <button class="newBox" (click)="addBox()"></button>
  </header>
  <section class="main" *ngIf="boxes.length > 0">
        <div class="view" *ngFor="let box of boxes">
          <input class="Box" placeholder="What needs to be done?" autofocus="" [(ngModel)]="box.title">
          <label>{{box.title}}</label>
        </div>
  </section>
  <footer class="footer" *ngIf="boxes.length > 0">
    <span class="box-count"><strong>{{boxes.length}}</strong> {{boxes.length == 1 ? 'item' : 'items'}}</span>
  </footer>
</section>
