<!-- <h1>
  {{title}}

  <input class="AppComponent" placeholder="What needs to be done?" autofocus="" [(ngModel)]="title" (keyup.enter)="enter(1)">

  <br/>

  {{title2}}
  <input class="AppComponent" placeholder="What needs to be done?" autofocus="" [(ngModel)]="title2" (keyup.enter)="enter(2)">

</h1> -->

<div class="tile">
  <app-game class="app-game" *ngIf="loadScreen == false"></app-game>
  <button class="enter-site" (click)="enterSite()" *ngIf="loadScreen == true">Play Assassins</button>
</div>
